body {
  background-color: #281e3f;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}

.terminal-window {
  text-align: left;
  width: 800px; 
  height: 480px; 
  border-radius: 10px;
  margin: auto;
  position: relative;
  display: block;
  top: 25vh;
  transition: all 0.5s ease;
  z-index: 999;
}

.terminal-window.minimized {
  height: 30px;
  top: calc(100vh - 38px);
  width: 250px;
}

.terminal-window.fullscreen {
  width: 95vw;
  height: 95vh;
  top: 0;
  left: 0;
}

.terminal-window header {
  background: #e0e8f0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3bb662;
  cursor: pointer;
}

.terminal-window header .button.yellow {
  background: #e5c30f;
  cursor: pointer;
}

.terminal-window header .button.red {
  background: #e75448;
  cursor: pointer;
}

.input {
  display: inline-block;
  vertical-align: bottom;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 10px; 
}

.input:empty::before {
  content: "\200B"; /* Zero-width space */
}

.green {
  color: #00ff00; /* Green color */
}

.white {
  color: #ffffff; /* White color */
}

.purple {
  color: #ff00ff; /* Purple color */
}

.prompt {
  color: #00ccff; /* Neon blue color */
}

.tick {
  color: #00ccff; 
}

#terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353a;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  bottom: 0;
  overflow-y: scroll;
}

/* Styles for the terminal icon */
/* Styles for the terminal icon */
.terminal-icon {
  width: 80px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  display: none; /* Initially hide the icon */
  border: 5px solid #fff;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background: transparent;
  color: #fff;
}

.terminal-icon::before {
  content: ">_";
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  display: block;
}

.terminal-icon.show {
  display: block; /* Show the icon when needed */
}

#terminal p {
  font-size: 20px; /* Set the desired font size */
}

/* Hide scrollbar for #terminal */
#terminal::-webkit-scrollbar {
  display: none; /* For WebKit browsers */
}

#terminal {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Add this style for the link */
a.external-link {
  color: #FF8080; /* Green color */
  text-decoration: none; /* Remove default underline */
}

a.external-link:visited {
  color: #FF8080; /* Keep the same color after being visited */
}

a.external-link:hover {
  color: #FF8080; /* Change color on hover for better visibility */
}

.Contact a i {
  font-size: 32px; /* Change the size as needed */
  color: white; /* Set the color to white */
  text-decoration: none;
}



@media only screen and (max-width: 650px){
  .terminal-window {
    width: 95%;
    height: 80vh; 
    top: 10vh;
  }
}
